body{
    background-color: white;
    font-family: 'Inter', sans-serif;
}
.nav-icon{
    font-size: 18px;
}
nav{
    width: fit-content;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    border: 1px solid;
    border-radius: 20px;
    align-items: center;
    padding: 10px 20px;
    
}

.nav-container ul{
    display: flex;
    gap: 20px;  
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-container ul li a{
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: black;
    align-items: center;
    transition: all 0.5s ease;

}

.nav-container ul li:hover a{
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;

}
.hero-container{
    width: fit-content;
    min-width: 50%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.image-sec img{
    width: 500px;
    height: 500px;
}
.available-tag{
    background-color: rgb(222, 216, 216);
    width: fit-content;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
   

}
.text-container{
    max-width: 600px;
}

.text-container h1{
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.text-container h2{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}


button{
    display: flex;
    align-items: center;
    gap: 5px;   
}
.buttons{
    display: flex;
    align-items: center;
}

.buttons button{
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.hero-icons{
    font-size: 18px;
}

.buttons button:nth-of-type(1){
    color: white;
    background: black;
}

.buttons button:hover{
    padding: 10px 12px;
    transition: all 0.4s ease;
}

.follow-icons{
    display: flex;
    gap:30px;
}

.text-container ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
}
.text-container ul li{
    display: flex;
    align-items: center;
    gap:5px;
    margin: 0%;

}
.text-container hr{
    border: 1px solid black;
}