body{
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
}
.nav-icon{
    font-size: 18px;
}
nav{
    width: fit-content;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    border: 1px solid;
    border-radius: 20px;
    align-items: center;
    padding: 10px 20px;
    
}

.nav-container ul{
    display: flex;
    gap: 20px;  
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-container ul li{
    
}
.nav-container ul li a{
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: black;
    align-items: center;
    transition: all 0.5s ease;

}

.nav-container ul li:hover a{
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;

}